# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# building
/llc

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# content collections
.content-collections

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# memory usage log
memory-usage.log