@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll-delayed {
  animation: scroll 30s linear infinite;
  animation-delay: -20s;
}
