@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Humane VF";
    src: url(./fonts/Humane-VF.ttf) format(truetype);
    font-display: swap;
    font-weight: 100 900;
  }
}

@layer base {
  @font-face {
    font-family: "GeneralSans Variable";
    src: url(./fonts/GeneralSans-Variable.ttf) format("truetype");
    font-display: swap;
    font-weight: 100 900;
  }
}
